<div class="container">
  <form name="new_gallery" action='/gallery/new' method='post'>
    <input type="text" name="name" placeholder="Gallery Name">
    <input type="submit" name="submit" value="Create Gallery">
  </form>
</div>
